# Ejemplo de variables de entorno
# Copiar a .env y llenar con valores reales

MONGODB_URI=mongodb+srv://marcaquinocarhuas_db_user:h8FuM3eh2tM52wsC@cluster0.41zvhi9.mongodb.net/?appName=Cluster0
JWT_SECRET=utp_portal_secret_key_2024_super_secure_jwt_token
PORT=3000
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
